@import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #ede8d0;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #906323;
  color: #ede8d0;
  width: 100%;
}

.logo {
  margin-top: 10px;
  height: 70px;
  width: 70px;
  object-fit: contain;
}
.menu {
  display: flex;
  text-decoration: none;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #ede8d0;
}
li {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 18px;
}
.presentacion {
  background-size: cover;
  background-position: center;
  background-image: url("../Images/Images/Jardin.jpg");
  background-repeat: no-repeat;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.presentacion::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000047;
}

.presentacion.sobre-nosotros {
  background-image: url("../Images/Images/Jardin.png.png");
}

.presentacion.niveles {
  background-image: url("../Images/Images/Chicos.jpg");
}

.presentacion.festejos {
  background-image: url("../Images/Images/cumple-jardin.png");
}
.presentacion.dudas {
  background-image: url("../Images/Images/frente-jardin.jpg");
  flex-direction: column;
  gap: 10px;
}
.presentacion.dudas2 {
  background-image: url("../Images/Images/egresados.jpg");
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.title {
  font-family: "Twinkle Star", serif;
  font-size: 60px;
  z-index: 1;
  color: white;
  text-shadow: 3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000, -3px -3px 0 #000,
    3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #402704;
  font-size: 50px;
  margin-top: 20px;
}
.objetivo1 {
  background-color: #ffffff;
  display: flex;
  height: 40vh;
  width: 100%;
  margin: 0px;
}
.Images {
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: 10px;
}
p {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 20px;
}
.objetivo2 {
  background-color: #ffffff;
  display: flex;
  height: 40vh;
  width: 100%;
  margin: 0px;
  margin-top: 10px;

  flex-direction: row-reverse;
}
.objetivo3 {
  background-color: #ffffff;
  display: flex;
  height: 40vh;
  width: 100%;
  margin: 0px;
  margin-top: 10px;
}
.info {
  background-size: cover;
  background-position: center;
  background-image: url("../Images/Images/Salon.jpg");
  background-repeat: no-repeat;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-top: 10px;
  gap: 60px;
  height: 300px;
}

.circulo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 50%;
  margin-top: 40px;
  width: 110px;
  height: 120px;
  font-size: 30px;
  color: #ffffff;
  background-color: #be8636;
}
.info2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 30px;
  color: #ffffff;
}
.button {
  background-color: #946f38;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  font-size: 15px;
  margin-left: 50px;
  border-color: #ffffff;
}
.footer {
  background-color: #906323;
  color: #ffffff;
  justify-content: start;
  align-items: center;
  height: 60px;
  display: flex;
  margin-top: 10px;
}

.institucion {
  margin-top: 20px;
  width: 100%;
  height: 50vh;
  display: block;
}
.Images2 {
  object-fit: fill;
  height: 500px;
  width: 100%;
  margin-top: 10px;
}
.Imagesdir {
  display: flex;
  height: 250px;
  width: 20%;
  margin-left: 10px;
  object-fit: fill;
}
.Directivas {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 300px;
  width: 100%;
  border-top: 2px solid black;
}
.trayectoria {
  font-size: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 20px;
}
.card1 {
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: #ffffff;
  font-family: "Twinkle Star", serif;
  border-radius: 20px;
  width: 450px;
  height: 380px;
  text-align: center;
}
.instalacion {
  width: 330px;
  height: 300px;
  border-radius: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  object-fit: fill;
}

.cardss {
  width: 100%;

  margin: 0;
  padding: 20px;
}
.maternal {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 40vh;
  width: 100%;
  border-top: 2px solid black;
}
.foto {
  display: grid;
  grid-template-rows: 1fr;
  width: 300px;
  height: 200px;
  border-radius: 8px;
  object-fit: fill;
}
.contenido {
  display: block;
  align-items: center;
  justify-content: center;
}
.nivel-titulo {
  justify-content: center;
  align-items: center;
  display: flex;
}

.sala-de-2 {
  display: flex;

  gap: 20px;

  padding: 20px;
  height: 40vh;
  width: 100%;
  border-top: 2px solid black;
  margin-top: 30px;
}
.sala-de-3 {
  display: flex;

  gap: 20px;

  padding: 20px;
  height: 40vh;
  width: 100%;
  border-top: 2px solid black;
  margin-top: 30px;
}
.sala-de-4 {
  display: flex;

  gap: 20px;

  padding: 20px;
  height: 40vh;
  width: 100%;
  border-top: 2px solid black;
  margin-top: 30px;
}
.sala-de-5 {
  display: flex;

  gap: 20px;

  padding: 20px;
  height: 40vh;
  width: 100%;
  border-top: 2px solid black;
  margin-top: 30px;
}

.dudass {
  color: white;
  text-shadow: 3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000, -3px -3px 0 #000,
    3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000;
  font-size: 40px;
  z-index: 1;
}
.button2 {
  width: 200px;
  background-color: #946f38;
  border-radius: 20px;
  color: #ffffff;
  padding: 20px;
  font-size: 15px;
  border-color: #ffffff;
  z-index: 1;
}

.cumple {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.fotos {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 300px;
}
.container {
  display: flex;
  flex-direction: column;
}

.titulo-festejo {
  font-family: "Madimi One", serif;
  color: #835009;
  font-size: 25px;
}

.containersec {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.informacion2 {
  background-color: #ffffff;
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 60%;
  height: 500px;
  margin-top: 10px;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.fotos1 {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 330px;
  object-fit: contain;
}

.presentacion5 {
  background-size: cover;
  background-position: center;
  background-image: url("../Images/Images/contacto.png");
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #835009;
  background-color: #ede8d0;

  padding: 80px;
  border-radius: 15px;
  gap: 20px;
}
.personal-dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  color: #0f0f0f;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.input-field {
  height: 20px;
  border-radius: 10px;
  border: 1px solid #906323;
}
.btn-form {
  height: 50px;
  width: 120px;
  background-color: transparent;
  border: 1px solid #311f06;
  background-color: #402704;
  border-radius: 20px;
  color: #ffffff;
}
.inscripcion {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-image: url("../Images/Images/profes.png");
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #402704;
  border-radius: 20px;
  color: #ffffff;
  padding: 20px;
  font-size: 15px;
  border-color: #ffffff;
  margin-top: 20px;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .menu {
    display: block;
  }

  .fotos1 {
    width: 300px;
    height: 300px;
  }
  .informacion2 {
    width: 100%;
  }
  .informacion2 p {
    font-size: 16px;
  }
  .presentacion {
    width: 100%;
    height: auto;
  }
  .title,
  .titulo {
    font-size: 30px;
    text-align: center;
  }
  .objetivo1,
  .objetivo2,
  .objetivo3 {
    width: 100%;
    height: auto;
    display: block;
    font-size: 6px;
  }
  .info {
    flex-direction: column;
    width: 100%;
    height: 550px;
    gap: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    z-index: 1;
  }

  .button {
    margin: 0;
    margin-top: 20px;
    width: 100px;
    z-index: 1;
  }

  .circulo {
    width: 55%;
    height: 80px;
  }
  .info2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .fotos1 {
    width: 427px;
  }
  .titulo {
    text-align: center;
  }
  .objetivo1 p,
  .objetivo2 p,
  .objetivo3 p {
    font-size: 14px;
  }

  .objetivo1,
  .objetivo2,
  .objetivo3 {
    align-items: center;
  }
}
