$backcolor: (
  color1: #ede8d0,
  color2: #00000047,
  color3: #ffffff,
  color4: #be8636,
  color5: #946f38,
  color6: #906323,
  color7: #5f3e0f,
  color8: #f3d5b5,
);

$colortxt: (
  colortxt1: #835009,
  colortxt2: #ffff,
  colortxt3: #402704,
);
