.title {
  font-family: "Twinkle Star", serif;
  font-size: 60px;
  z-index: 1;
  color: map-get($colortxt, colortxt2);
  text-shadow: 3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000, -3px -3px 0 #000,
    3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000;
}
.title1 {
  @extend .title;
  font-size: 61px;
}

.titulo {
  @include flex(none, none, center, center, none);
  color: map-get($colortxt, colortxt3);
  font-size: 50px;
  margin-top: 20px;
  text-align: center;
}

.nivel-titulo {
  justify-content: center;
  align-items: center;
  display: flex;
}

.titulo-festejo {
  font-family: "Madimi One", serif;
  color: map-get($colortxt, colortxt1);
  font-size: 25px;
}
h3 {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}
